* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
   background-color: #D9D9D9;
}

.layout{
    margin: auto;
    max-width:48rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

main{
    flex-grow: 1;
    margin: 15px 15px;
}

header{
    display: flex;
    flex-direction: column;
}

.logo{
    width: 130px;
    height: 110px;
}

.articulo1{
    display: flex;
    align-items: center;
}
.img-articulo1{
    width: 400px;
    height: 300px;
}

.img-articulo2{
    width: 350px;
    height: 300px;
}

.img-contact{
    width: 400px;
    height: 300px;
    display: inline-block;
}
.cont-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cont-title{
    display: flex;
    height: 300px;
    background-size: cover;
    width: 100%;
    background-image: url(../img/design1_image1.jpg);
}

.img-header{
    height: 300px;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: visible;
}

.subtitle{
    font-size: 40px;
    margin-left: 15px;
    font-weight: bold;
}

nav{
    display: flex;
    gap: 30px;
    justify-content: center;
    max-width: 48rem;
    width: 100%;
    background-color: red;
    align-items: center;
    height: 50px;
    position: fixed;

}

.ul-links{
    text-decoration: none;
    list-style: none;
    text-align: center;
    display: flex;
    gap: 40px;
}

.links{
    font-size: 18px;
    font-weight: bold;
}

.links a{
    color:white;
    text-decoration: none;
}
.links a:hover{
    border-bottom: 2px solid white;

}
.cont-events{
    padding: 0px 20px;
}
.event{
    font-size: 30px;
}

.description-event{
    margin-bottom: 20px;
}

.cont-about{
    display: flex;
    align-items: center;
    padding: 20px 0px;
}

.info-about{
    margin-bottom: 30px;
}

.subtitle-about{
    font-size: 30px;
    margin-bottom: 10px;
}

html{
    font-size: 17px;
}


footer{
    background-color: black;
    height: 150px;
    color: white;
    display: flex;
    width: 100%;
    align-items: center;
    box-shadow: inset 0 5px 10px 0 rgba(255, 255, 255, 0.693);
    justify-content: center;
}

.cont-main-about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-articles-about{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.cont-subtitle-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/fondo-subtitle.jpg);
}

.cont-table{
    display: flex;
    justify-content: center;
}
.table-game{
    border: solid 1px black;
    border-collapse: collapse;
    text-align: center;
}

.table-game tr,th, td{
    border: solid 1px black;
}

.table-thead th{
    padding: 25px 40px;
    color: white;
    background-color: black;
    font-size: 17px;
}

.table-tbody td{
    padding: 5px;    
}

.tablerow-1{
    background-color: rgb(52, 177, 135);
}
.tablerow-2{
    background-color: rgb(233, 179, 42);
}
.tablerow-3{
    background-color: rgb(21, 242, 235);
}
.tablerow-4{
    background-color: rgb(191, 128, 249);
}
.tablerow-5{
    background-color: greenyellow;
}

.section-rules-polices{
    margin: 10px;
}

.subtitle-rules-polices {
    text-align: center;
    margin-bottom: 40px;
}

.cont-sportmanship p{
    margin: 10px 20px;
}

.cont-regulation{
    margin: 20px 40px;
}
.cont-young-agegroups{
    margin: 0px 20px;
}

.cont-allplay p{
    margin: 10px 20px;
}
.cont-allplay li{
    margin: 10px 50px;
}

.cont-schendule{
    margin: 30px 0px 40px 0px;
}
.cont-schendule p{
    text-decoration: underline;
}
.add-info {
    margin: 20px 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

fieldset{
    border: none;
}

.cont-form{
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}

form{
    display: flex;
    flex-direction: column;
    background-color: white;
    flex-wrap: wrap;
    padding: 35px;
    gap: 10px;
    width: 70%;
    color: black;
    border-radius: 10px;
    font-size: 18px;
    border: 5px solid red;
    box-shadow: inset 0 0 10px 0 rgb(253, 56, 56);
}

.title-form{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin: 20px 0px;
}

.cont-infop{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
}
.cont-infop input{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background-color: white;
    width: 80%;
    gap: 20px;
    padding: 5px;
    font-size: 17px;
}
.cont-infop legend{
    font-size: 22px;
    font-weight: bold;
}

.cont-gender{
    display: flex;
    margin: 1rem;
    gap: 100px;
    align-items: center;
    justify-content: center;
}


.cont-grade{
    margin: 1rem;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.cont-size{
    margin: 1rem;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.cont-school{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.cont-position{
    margin: 1rem;
    display: flex;
}
.cont-position label{
    margin: 0px 8px;
}

.button-submit{

    width: 90%;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 22px;
    background-color: red;
    color: white;
    font-weight: bold;
}
.cont-submit{
    display: flex;
    justify-content: center;
}

.cont-submit:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.legend-title{
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}
.p-permission{
    margin: 20px 10px;
}

.cont-signature{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}
.cont-signature input{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 17px;
}
.cont-signature label{
    font-size: 20px;
    font-weight: bold;
}

.locations{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.map{
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 2px solid red;
    padding: 10px;
    background-color: rgb(252, 50, 50);
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.map iframe{
    width: 200px;
    height: 150px;
    border-radius: 10px;
    margin-top: 5px;
}
.cont-locations{
    margin: 20px 0px;
}

.ig ,.tw ,.fb{
    height: 40px;
    width: 40px;
}

.cont-icons-foot{
    display: flex;
    gap: 15px;
    align-items: center;
}

.email a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}


